{% set prefix = cookiecutter.deploy_name %}
{% set num_splashes = cookiecutter.num_splashes|int %}
{% set max_timeout = cookiecutter.max_timeout|int %}
{% set maxrss = cookiecutter.maxrss_mb | int %}
{% set mem_limit = "%dm" | format(maxrss * 1.2) %}
{% set memswap_limit = "%dm" | format(maxrss * 1.5) %}
{% set tor = cookiecutter.tor | int %}
{% set tor_setup = "--proxy-profiles-path" %}
{% set verbosity = cookiecutter.splash_verbosity %}

{{ prefix }}-haproxy:
    image: haproxy:1.5
    ports:
        # stats
        - "8036:8036"

        # splash
        - "8050:8050"
    links:
        {%- for i in range(num_splashes) %}
        - {{ prefix }}-splash{{i}}
        {%- endfor %}
    volumes:
        - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro

{%- for i in range(num_splashes) %}

{{ prefix }}-splash{{i}}:
    # FIXME: we need qt5-based image
    image: scrapinghub/splash:{{ cookiecutter.splash_version }}
#    image: 25140fa12b7e
    command: --max-timeout {{ max_timeout }} \
             --disable-proxy \
             --slots 10 \
             --maxrss {{ maxrss }} \
              -verbosity {{ verbosity }}
    expose:
        - 8050
    mem_limit: {{ mem_limit }}
    memswap_limit: {{ memswap_limit }}
    restart: always

    {%- if tor %}
    links:
        - tor
    volumes:
        - ./proxy-profiles:/etc/splash/proxy-profiles:ro
    {%- endif %}

{%- endfor %}


{% if tor %}
tor:
    image: usertaken/tor-socks-proxy:latest
    expose:
        - 9050
    restart: always
{% endif %}
